@font-face {
    font-family: 'Georgia Regular';
    src: url('../../../../assets/fonts/Georgia/Georgia.eot');
    src: url('../../../../assets/fonts/Georgia/Georgia.eot?#iefix') format('embedded-opentype'),
        url('../../../../assets/fonts/Georgia/Georgia.woff') format('woff'),
        url('../../../../assets/fonts/Georgia/Georgia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Georgia Regular';
    src: url('../../../../assets/fonts/Georgia/Georgia.eot');
    src: url('../../../../assets/fonts/Georgia/Georgia.eot?#iefix') format('embedded-opentype'),
        url('../../../../assets/fonts/Georgia/Georgia.woff') format('woff'),
        url('../../../../assets/fonts/Georgia/Georgia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Georgia Bold';
    src: url('../../../../assets/fonts/Georgia/Georgia-Bold.eot');
    src: url('../../../../assets/fonts/Georgia/Georgia-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../../../assets/fonts/Georgia/Georgia-Bold.woff') format('woff'),
        url('../../../../assets/fonts/Georgia/Georgia-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial Regular';
    src: url('../../../../assets/fonts/Arial/ArialMT.eot');
    src: url('../../../../assets/fonts/Arial/ArialMT.eot?#iefix') format('embedded-opentype'),
        url('../../../../assets/fonts/Arial/ArialMT.woff') format('woff'),
        url('../../../../assets/fonts/Arial/ArialMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial Italic';
    src: url('../../../../assets/fonts/Arial/');
    src: url('../../../../assets/fonts/Arial/Arial-ItalicMT.eot?#iefix') format('embedded-opentype'),
        url('../../../../assets/fonts/Arial/Arial-ItalicMT.woff') format('woff'),
        url('../../../../assets/fonts/Arial/Arial-ItalicMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}